clnch_native/Release/
clnch_native/Debug/
clnch_native.pyd
Debug/
dist/
build/
doc/html/
lib/
doc/obj/
Release/
clnch.VC.opendb
library.zip
python37.dll
clnch_native.pdb
clnch_native.lib
clnch_native.exp
clnch_d.pdb
clnch_d.ilk
clnch_d.exe
clnch.vcxproj.user
clnch.sdf
clnch.pdb
clnch.ipdb
clnch.iobj
clnch.exe
clnch.aps
.vs/
__pycache__/
clnch_native/clnch_native.vcxproj.user
clnch_native/clnch_native.sdf
